body{
    margin-top: 40px;
    margin-left: 500px;  
 }
 
 
 
 .aaa{
 
     border: none;
     background-color: #fff;
    box-shadow: 2px 5px 5px yellow;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 15px ;
 }
 
 .bbb{
     
    color: red;
    text-shadow: 10px 5px rgb(33, 114, 200);
 }
 
 .ccc{
     width: 200px;
     margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 15px;
     border: none;
     background-color: #fff;
    box-shadow: 5px 3px 2px red
    
 } 
 .eee{
    text-shadow: 2px 5px green;
    text-align: left;
 }
 
 .ff{
     width: 200px;
     margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 15px;
     border: none;
     background-color: #fff;
    box-shadow: 0px 0px 5px rgb(8, 64, 8)
    
 } 
 .gg{
    text-shadow: 2px 2px 5px red;
    text-align: left;
 }
 
 .hh{
     width: 200px;
     margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 15px;
     border: none;
     background-color: #fff;
    box-shadow: 1px 3px 5px blue
    
 } 
 .ii{
     color: blue;
     text-align: left;
    text-shadow: 1px 3px 1px rgb(7, 67, 7)
    
 }
 
 .a{
     width: 200px;
     margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 15px;
     border: none;
     background-color: #fff;
    box-shadow: 1px 3px 5px blueviolet
    
 } 
 .muso{
    color: rgb(20, 32, 172);
    text-align: left;
    text-shadow: 1px 5px 3px rgb(9, 21, 123)
    
 }
 
 .xusan{
    width: 200px;
    margin-top: 15px;
   margin-bottom: 15px;
   padding: 10px 15px;
    border: none;
    background-color: #fff;
   box-shadow: 5px 5px 5px rgb(118, 8, 220)
 } 
 .xusan1{
     color: rgb(239, 19, 19);
     text-align: left;
    text-shadow: 1px 3px 5px rgb(12, 15, 12)
 }
 
 .shoxruz{
    width: 200px;
    margin-top: 15px;
   margin-bottom: 15px;
   padding: 10px 15px;
    border: none;
    background-color: #fff;
   box-shadow: 20px 3px 2px rgb(216, 247, 11)
    
 } 
 .shoxruz1{
     color: rgb(6, 6, 8);
     text-align: left;
    text-shadow: 1px 2px 2px rgb(51, 70, 214)
 }
 
 .sardor{
     width: 200px;
     margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 15px;
     border: none;
     background-color: #fff;
    box-shadow: 5px 5px 5px 10px rgb(7, 213, 245)
    
 } 
 .sardor1{
     color: rgb(11, 11, 118);
     text-align: left;
    text-shadow: 1px 2px 2px rgb(8, 28, 184)
 }
 .bobur {
    width: 200px;
    margin-top: 15px;
   margin-bottom: 15px;
   padding: 10px 15px;
    border: none;
    background-color: #fff;
   box-shadow: 0px 3px 5px 5px rgb(242, 18, 18)
 }
 .bobur1 {
    color: rgb(6, 6, 8);
    text-align: left;
   text-shadow: 1px 2px 2px rgb(121, 36, 43)
 }